<mat-card>
  <mat-card-title>Login</mat-card-title>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <button mat-raised-button class="login-button" color="primary">Log In</button>
  </mat-card-content>

  <mat-card-footer class="login-footer">
    <p class="footer-link">
      Don't have an account?
      <a [routerLink]="['/register']">Register</a>
    </p>

    <a class="footer-link" [routerLink]="['/forgot-password']"> Forgot password </a>
  </mat-card-footer>
</mat-card>
