<mat-card>
  <mat-card-title>Login</mat-card-title>

  <mat-card-content>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" />
    </mat-form-field>

    <div class="button-container">
      <button mat-raised-button color="accent">Register</button>
      <button mat-raised-button color="primary">Log In</button>
    </div>
  </mat-card-content>
</mat-card>
