@use "theme" as theme;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
  padding: 1rem;
  display: flex;
  gap: 12px;
}

mat-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .arrow-back {
    color: theme.$icon-gray;
  }
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mat-form-field {
    width: 100%;
    max-width: 400px;
  }

  .forgot-password-button {
    width: 170px;
    max-width: 80%;
  }
}
