mat-toolbar {
  gap: 16px;
  height: 56px;
  background: #5798ff;
  margin-bottom: 12px;

  button {
    color: #fbfbff;

    &.active {
      background-color: #5688e9;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}
