@use 'theme' as theme;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

mat-card {
  width: 400px;
  padding: 1rem;
  display: flex;
  gap: 12px;

  &.loading {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

mat-card-title {
  display: flex;
  justify-content: center;
}

mat-card-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mat-form-field {
    width: 100%;
    max-width: 400px;
  }

  .login-button {
    width: 170px;
    max-width: 80%;
  }
}

.login-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .footer-link {
    font-size: 0.85rem;
    color: theme.$link;
  }

  a {
    color: theme.$link;
  }

  a:hover {
    color: theme.$link-hover;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}